* {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #232830;
    display: flex;
    justify-content: center;
}

.header-container {
    border: solid 1px magenta;
    width: 80%;
    margin-top: 5%;
    color: #FFFFFF;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.header-nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.website-title {
    font-size: 30px;
}
